body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    color: #276fbf;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.qno {
    font-weight: bold;
    color: #276fbf;
}

.qno-box {
    background: #d4ed92;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.timer {
    background: #d0e2f2;
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: bold;
}

.question-box {
    border: 2px solid #276fbf;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding-left: 30px;
}

.options label {
    font-size: 16px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.save-next {
    background: #3b82f6;
    color: white;
}

.submit {
    background: #38b000;
    color: white;
}
